html, body{margin:0px; padding:0px; }

#page{width:90% max-width: 1000px; margin: auto; min-height: 0px; background: #eee; box-shadow: 1px 1px 10px 1px #000; }

.list{width: auto;   margin-left: 20px; float:left; padding: 1%; background: #444; margin: 1%;  }
.list a{color: #fff; text-decoration:none;}
.list a{color: #ddd;}
.editpage{float:left; margin-right: 20px; font-size:30px;}
.deletepage{float:left; font-size:30px;}
.editbar{float: left; width: 100%;}
.trash{float: left; font-size:40px;}
.mover{float: left; font-size:40px;}
.stacker{float: left; font-size:40px;}
.editor{float: left; font-size:40px;}
#title{
width: 100%; text-align: center; background: #666; padding: 10px 0px 10px 0px; color: #fff; display:block;}

#header{width: 100%;   height: 70px; padding: 0%; background: #444; margin:auto: margin-top: 1%; }

#pagecontent{clear:both; width:100%;   padding: 0%; background: #def; margin:auto: margin-top: 1%;}

.fa-remove{float:right;}

.addbutton {margin:auto; float: right; width: 40px; text-align: center; padding: 5px; text-align:left; font-size:40px; background:#ccf; opacity:0.8;}
.buttontitle{font-size:10px;}

.rightbutton{float: right; text-align: right} 


#addform .fa{position: relative; font-size: 30px; width: 20%;  min-height: 70px; padding-bottom: 100px: }

.lightbox{min-width:300px; width:92% margin:auto; padding: 0px;background:#fff; Text-align:center; font-size:20px; height: auto;  position fixed; top: 30px ;  left: 5% ; margin-top: 10px; z-index: 1000;}

.lightbox >form{border: dashed 5px #333; padding:10px;}

.lightbox input{font-size:20px; padding: 02px; width: 80% ; margin:auto;}

#hidex{background:none;  color:#444;border:solid 0px #ddd; font-size: 30px; min-width: 0px ; height:30px; float:left;max-width: 10px; margin:0px ; text-align: left; margin-left:0px;}






